snippet cl "Inserts a console.log statement" b
console.log(${1});
endsnippet

snippet c "Inserts a className statement" b
className='${1}'
endsnippet

snippet cc "Inserts a class component" b
type Props = {

}
export default function ${1}({}: Props) {
    return <${2}
}
endsnippet


